<div id="jukebox">
  <div class="shim">
    <div id="minimum-requirements">
      <p>
        You need <a href="http://www.adobe.com/go/getflash/" target="_blank">Flash Player 8</a>
        or newer and JavaScript enabled to play these songs.
      </p>
    </div>
  </div>
  
  <p class="instructions">
    Adjust the sliders below to 100% to build your playlist. <br>
    After that, choose a time to start playing your playlist.
  </p>
  
  <div id="percent-complete-wrapper">
    <p id="percent-complete">0%</p>
    <p id="percent-complete-label">complete</p>
  </div>
  
  <ul id="sliders">
    <% @genres.each do |genre| %>
      <li>
        <label><%= genre %></label>
        <div class="slider-wrapper">
          <div id="<%= genre %>" data-name="<%= genre %>" class="slider">
          </div>
        </div>
      </li>
    <% end %>
  </ul>
  
  <p class="explicit-selector">
    <input type="checkbox" id="explicit-selector" />
    <label for="explicit-selector">Allow explicit songs</label>
  </p>
  
  <p class="instructions point-based disabled">Choose your workout length (minutes).</p>
    
  <ol id="controls" class="point-based disabled">
    <li><%= link_to "15", "#", "data-duration" => "900" %></li>
    <li><%= link_to "30", "#", "data-duration" => "1800" %></li>
    <li><%= link_to "45", "#", "data-duration" => "2700" %></li>
    <li><%= link_to "60", "#", "data-duration" => "3600" %></li>
    <li><%= link_to "&infin;".html_safe, "#", "data-duration" => "86400" %></li>
  </ol>
  
  <ol id="explicit" class="library">
    <% @songs_explicit.each do |song| %>
      <li class="song" data-duration="<%= song.seconds %>" data-video-id="<%= song.video_id %>" data-genre="<%= song.genre %>"><%= song.title %></li>
    <% end %>
  </ol>
  
  <ol id="clean" class="library">
    <% @songs_clean.each do |song| %>
      <li class="song" data-duration="<%= song.seconds %>" data-video-id="<%= song.video_id %>" data-genre="<%= song.genre %>"><%= song.title %></li>
    <% end %>
  </ol>
</div>
